body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*Animations Angular JS*/

.repeat-animation.ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    -moz-animation: fadeInLeft 0.5s;
    -o-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}

.repeat-animation.ng-leave {
    -webkit-animation:  fadeOutRight 0.5s;
    -moz-animation:  fadeOutRight 0.5s;
    -o-animation:  fadeOutRight 0.5s;
    animation:  fadeOutRight 0.5s;
}


.repeat-animation.ng-move {
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
    display:block!important;
}

.show-hide-animation.ng-hide-add {
    -moz-animation: fadeOutUp 0.5s;
    -o-animation: fadeOutUp 0.5s;
    -webkit-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}

.show-hide-animation.ng-hide-remove {
    -moz-animation: fadeInDown 0.5s;
    -o-animation: fadeInDown 0.5s;
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}



