body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*Animations Angular JS*/
.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
    position: relative;
    -moz-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.my-repeat-animation.ng-enter {
    left: -10px;
    -ms-opacity: 0;
    opacity: 0;
}

    .my-repeat-animation.ng-enter.ng-enter-active {
        left: 0;
        -ms-opacity: 1;
        opacity: 1;
    }

.my-repeat-animation.ng-leave {
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

    .my-repeat-animation.ng-leave.ng-leave-active {
        left: -10px;
        -ms-opacity: 0;
        opacity: 0;
    }

.my-repeat-animation.ng-move {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

    .my-repeat-animation.ng-move.ng-move-active {
        -ms-opacity: 1;
        opacity: 1;
    }
