<div class="container-fluid">
    <div class="row">
        <div class="form-inline">
            <div class="btn-group search-query">
                <usr-mgmt-back action="vm.goBack()"></usr-mgmt-back>
                <usr-mgmt-refresh action="vm.refresh()" title="Refresh"></usr-mgmt-refresh>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Current comments for {{vm.session.name}} </div>
            <div class="panel-body">


                <div infinite-scroll="vm.nextPage()" infinite-scroll-disabled="vm.paging.busy" infinite-scroll-distance="1">
                    <div ng-repeat="comment in vm.comments" class="row cmt">
                        <div class="col-md-12">
                            <p>{{ comment.text }}</p>
                            <p class="author">
                                posted by
                                <a ng-href="#/users/{{ comment.commentId }}">
                                    {{ comment.author }}
                                </a>
                                <a ng-href=""
                                   ng-click="vm.deleteComment(comment)">
                                    (delete)
                                </a>
                            </p>
                        </div>
                        <div style='clear: both;'></div>
                    </div>
                    <div ng-show='vm.paging.busy'>Loading data...</div>
                </div>
                <div class="well">
                    <!--<div ng-hide="signedIn()">
                        <p><a href="#/login">Sign in</a> to post a comment</p>
                    </div>-->

                    <form ng-submit="vm.addComment()">
                        <div class="row">
                            <div id="commentDiv">
                                <textarea id="commentTxtArea" ng-model="vm.commentText"
                                          placeholder="Enter your Comment..."
                                          class="form-control k-textbox"></textarea><br />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div id="commentUserDiv">
                                <span id="commentAsText">Comment as:&nbsp;</span><input id="commentAsDropdown" ng-model="vm.selectedUser" kendo-auto-complete k-options="vm.autocompleteOptions" style="border-color: #e5e5e5;" />
                            </div>
                        </div>
                        <br/>
                        <br />
                        <div class="row">
                            <input type="submit" kendo-button value="Post Comment" class="btn btn-primary" />
                            <input type="button" kendo-button ng-click="vm.loadMoreData()" value="Load more data" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
