<div class="panel-body">
    <div class="form-group">
        <label for="lastname" class="col-md-2 control-label">Last Name:</label>
        <input type="text" name="lastname" z-validate class="form-control col-md-10" ng-model="vm.user.lastName" />        
    </div>
    <div class="form-group">
        <label for="middlename" class="col-md-2 control-label">Middle Name:</label>
        <input type="text" name="middlename" class="form-control col-md-10" ng-model="vm.user.middleName" />
    </div>
    <div class="form-group">
        <label for="firstname" class="col-md-2 control-label">First Name:</label>
        <input type="text" name="firstname" z-validate class="form-control col-md-10" ng-model="vm.user.firstName" />
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-md-2 control-label">Birth Date:</label>
        <input type="text" name="birthDate" z-validate class="form-control col-md-10" ng-model="vm.user.birthDate" kendo-date-picker />
    </div>
    <div class="form-group">
        <label for="birthPlace" class="col-md-2 control-label">Birth Place:</label>
        <input type="text" name="birthPlace" z-validate class="form-control col-md-10" ng-model="vm.user.birthPlace" />
    </div>
    <div class="form-group">
        <label for="genre" class="col-md-2 control-label">Genre:</label>
        <input type="text" name="genre" z-validate class="form-control col-md-10" ng-model="vm.user.genre" />
    </div>
    <div class="form-group">
        <label for="nacionality" class="col-md-2 control-label">Nacionality:</label>
        <input type="text" name="nacionality" z-validate class="form-control col-md-10" ng-model="vm.user.nacionality" />
    </div>
</div>