<div class="panel-body">
    <div class="form-group" id="userNameSection">
        <div class="form-group">
            <label for="username" class="col-md-2 control-label">Username:</label>
            <div class="col-md-10">
                <input type="text" name="username" z-validate class="form-control" ng-model="vm.user.userName" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input type="password" name="password" z-validate class="form-control" ng-model="vm.user.password" />
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-password" class="col-md-2 control-label">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" name="confirm-password" z-validate class="form-control" ng-model="vm.user.confirmPassword" />
            </div>
        </div>
    </div>
</div>