<div class="panel panel-primary repeat-animation" ng-repeat="workItem in vm.formData.works">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                Please enter information about your current or previous work.
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="vm.removeSelectedWork($index)" class="btn btn-danger pull-right">Remove Work</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-2 control-label">Work Position:</label>
            <div class="col-md-10">
                <input type="text" ng-model="workItem.workPosition" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Work Description:</label>
            <div class="col-md-10">
                <textarea ng-model="workItem.workDescription" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Salary:</label>
            <div class="col-md-10">
                <input type="number" ng-model="workItem.workSalary" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Salary Schema:</label>
            <div class="col-md-10">
                <input type="text" ng-model="workItem.workSalarySchema" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Begin Date:</label>
            <div class="col-md-10">
                <input type="date" ng-model="workItem.workBeginDate" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">End Date:</label>
            <div class="col-md-10">
                <input type="date" ng-model="workItem.workEndDate" class="form-control" />
            </div>
        </div>
        <div id="companyFormContainer" class="show-hide-animation">
            <div class="form-group">
                <label class="col-md-2 control-label">Company Name:</label>
                <div class="col-md-8">
                    <input type="text" ng-model="workItem.company.companyName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Corporate Name:</label>
                <div class="col-md-8">
                    <input type="text" ng-model="workItem.company.companyCorporateName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Description:</label>
                <div class="col-md-8">
                    <textarea ng-model="workItem.company.companyDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Address:</label>
                <div class="col-md-8">
                    <input type="text" ng-model="workItem.company.companyAddress" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Phone Number:</label>
                <div class="col-md-8">
                    <input type="tel" ng-model="workItem.company.companyPhoneNumber" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group col-md-12">
    <button type="button" class="btn btn-default" ng-click="vm.createWork()">
        <span class=" glyphicon glyphicon-plus"></span> Add Work
    </button>
    <button type="button" class="btn btn-default" ng-click="vm.removeLastWork()">
        <span class=" glyphicon glyphicon-minus"></span> Delete Work
    </button>
</div>