<div class="container-fluid">
    <div class="row">
        <div class="form-inline">
            <div class="btn-group search-query">
                <usr-mgmt-back action="vm.goBack()"></usr-mgmt-back>
                <usr-mgmt-cancel action="vm.cancel()" visibility="!vm.canSave"></usr-mgmt-cancel>
                <usr-mgmt-save action="vm.save()" visibility="!vm.canSave"></usr-mgmt-save>
                <span ng-show="vm.hasChanges" class="dissolve-animation"><i class="glyphicon glyphicon-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Select the roles that will be assigned to the user.</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Role Name</label>
                        <input type="text" class="form-control col-md-10" ng-model="vm.role.name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Role Description</label>
                        <textarea class="form-control col-md-10" ng-model="vm.role.description"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
