<h2>Manage Users</h2>
<div class="container-fluid">
    <div class="row">
        <div class="form-inline">
            <span class="k-textbox k-space-right">
                <input type="text"
                       ng-model="vm.usersSearch"
                       ng-keyup="vm.search($event)"
                       placeholder="Find a user..." />
                <a href="#" class="k-icon k-i-search">&nbsp;</a>
            </span>
            <div class="btn-group pull-right">
                <usr-mgmt-refresh action="vm.refresh()" title="Refresh"></usr-mgmt-refresh>
                <usr-mgmt-add link="#/register/credentials" title="Add User"></usr-mgmt-add>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">{{vm.title}}</div>
            <div class="panel-body">
                <div ng-repeat="user in vm.filteredUsers">
                    <div class="media">
                        <!--<a class="pull-left" href="#">
                            <img class="media-object" src="..." alt="...">
                        </a>-->
                        <button kendo-button class="btn btn-danger pull-right" ng-click="vm.deleteUser(user)"><span class="k-icon k-i-close"></span> Delete User</button>
                        <button kendo-button class="btn btn-info pull-right" ng-click="vm.editUser(user)"><span class="k-icon k-i-pencil"></span> Edit User</button>
                        <button kendo-button class="btn btn-info pull-right" ng-click="vm.editRolesForUser(user)"><span class="k-icon k-i-pencil"></span> Edit Roles</button>
                        <div class="media-body">
                            <h4 class="media-heading">{{user.userName}}</h4>
                            <p>{{user.firstName}} {{user.lastName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <pagination boundary-links="true"
                    ng-change="vm.pageChanged()"
                    total-items="vm.usersFilteredCount"
                    items-per-page="vm.paging.pageSize"
                    ng-model="vm.paging.currentPage"
                    max-size="vm.page.maxPagesToShow"
                    class="pagination-sm"
                    previous-text="Prev"
                    next-text="Next"
                    first-text="First"
                    last-text="Last">
        </pagination>
    </div>
</div>