<div class="container-fluid">
    <div class="row">
        <div class="form-inline">
            <div class="btn-group search-query">
                <usr-mgmt-back action="vm.goBack()"></usr-mgmt-back>
                <usr-mgmt-save action="vm.save()" visibility="!vm.canSave"></usr-mgmt-save>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Select the roles that will be assigned to the user.</div>
            <div class="panel-body">
                <form name="vm.myForm">
                    <div ng-repeat="role in vm.roles">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{role.id}}" ng-model="role.selected">
                                {{role.name}}
                            </label><br />
                            <label>
                                <i>{{role.description}}</i>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
