      <div id="form-container">
          <div class="page-header text-center">
              <h2>Account Registration</h2>
              <span ng-show="vm.hasChanges" class="dissolve-animation"><i class="glyphicon glyphicon-asterisk"></i></span>


              <!-- the links to our nested states using relative paths -->
              <!-- add the active class if the state matches our ui-sref -->
              <div id="status-buttons" class="text-center">
                  <ul class="nav nav-pills">
                      <li ng-class="{active:vm.activeTab=='credentials'}" ><a ui-sref-active="active" ui-sref=".credentials" ng-click="vm.setActiveTab('credentials')">Credentials</a></li>
                      <li ng-class="{active:vm.activeTab=='personal'}"><a ui-sref-active="active" ui-sref=".personal" ng-click="vm.setActiveTab('personal')">Personal Information</a></li>
                      <li ng-class="{active:vm.activeTab=='work'}"><a ui-sref-active="active" ui-sref=".work" ng-click="vm.setActiveTab('work')">Work Information</a></li>
                      <li ng-class="{active:vm.activeTab=='contact'}"><a ui-sref-active="active" ui-sref=".contact" ng-click="vm.setActiveTab('contact')">Contact Information</a></li>
                      <li ng-class="{active:vm.activeTab=='submit'}"><a ui-sref-active="active" ui-sref=".submit" ng-click="vm.setActiveTab('submit')">Submit Information</a></li>
                      
                         
                      
                  </ul>
              </div>
          </div>

          <!-- use ng-submit to catch the form submission and use our Angular function -->
          <form name="register" class="form-horizontal">

              <!-- our nested state views will be injected here -->
              <div id="form-views" ui-view></div>
          </form>
          <!--</div>--> 
      </div>


