body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Animations Angular JS*/

/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#endregion*/

.content-animation.ngEnter,.content-animation.ngLeave {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:600px;
}

.content-animation.ng-enter {
    -webkit-animation: 0.5s fadeInUp;
    -moz-animation: 0.5s fadeInUp;
    -ms-animation: 0.5s fadeInUp;
    -o-animation:  0.5s   fadeInUp;
    animation: 0.5s fadeInUp;

}

.content-animation.ng-leave {
    -webkit-animation: 0.5s fadeOutDown;
    -moz-animation: 0.5s fadeOutDown;
    -ms-animation: 0.5s fadeOutDown;
    -o-animation:  0.5s fadeOutDown;
    animation: 0.5s fadeOutDown;

    
}

.repeat-animation.ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    -moz-animation: fadeInLeft 0.5s;
    -o-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}

.repeat-animation.ng-leave {
    -webkit-animation:  fadeOutRight 0.5s;
    -moz-animation:  fadeOutRight 0.5s;
    -o-animation:  fadeOutRight 0.5s;
    animation:  fadeOutRight 0.5s;
}


.repeat-animation.ng-move {
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
    display:block!important;
}

.show-hide-animation.ng-hide-add {
    -moz-animation: fadeOutUp 0.5s;
    -o-animation: fadeOutUp 0.5s;
    -webkit-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}

.show-hide-animation.ng-hide-remove {
    -moz-animation: fadeInDown 0.5s;
    -o-animation: fadeInDown 0.5s;
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}

.idle-refresh-animation {
    visibility: hidden
}

.refresh-animation {
    visibility: visible;
    -webkit-animation-name: rotateThis;
    -moz-animation-name: rotateThis;
    -o-animation-name: rotateThis;
    animation-name: rotateThis;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}


@-moz-keyframes rotateThis {
	from { -moz-transform: scale( 1 ) rotate( 0deg );     }
	to   { -moz-transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );  }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

/*#region Splash */
#splash-page {
    z-index: 99999 !important;
}

    #splash-page .bar {
        width: 100%;
    }

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    color: #F58A00;
    padding: 0;
}

    .page-splash-message.page-splash-message-subtle {
        margin: 30% auto 0 auto;
        font-size: 200%;
    }

.flag-haschanges {
    position: fixed !important;
    display: inline;
}

.fa-asterisk.fa-asterisk-large {
    font-size: 180%;
    vertical-align: middle;
    color: #F58A00;
}

.fa-asterisk.fa-asterisk-alert {
    color: #F58A00;
}

.fa-asterisk-inline {
    padding: 0 4px 0 0;
}


.progress,
.page-progress-bar {
    margin: 30px 10% !important;
}

.spinner {
    margin: 20% auto 0 auto;
    left: auto;
    top: auto !important;
}
/*#endregion*/

/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    position: fixed !important;
    display: inline !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */

.search-query {
    margin: 2px auto 8px auto !important; 
}

.input-medium {
    width: 300px;
  height: 35px;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1.5;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.btn-margin {
    margin-right: 5px
}

#form-views.ng-enter            { 
    -webkit-animation:fadeIn 0.5s;
	-moz-animation:fadeIn 0.5s;
	animation:fadeIn 0.5s; 
}

/* leave animation */
#form-views.ng-leave            { 
    /*-webkit-animation:bounceOut 0.5s;
	-moz-animation:bounceOut 0.5s;
	animation:bounceOut 0.5s;*/   
}


/* Fixes to the Kendo Menu CSS */

.k-textbox {
    width: 23em
}

.k-menu {
  border:0
}
.k-menu .k-item, .k-widget.k-menu-horizontal>.k-item {
  border-left: 0;
  border-right: 0
}
.k-menu .k-item> .k-link {
  padding: 1.1em;
  background: #f8f8f8;
  border: 0;
}

.bs-example {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.k-tabstrip .k-tabstrip-items  {
    padding: 0;
   
}

.k-item {
    background: transparent;
    border-style: solid;
    border-width: 0
}

#addNewWork {
    border-color: #A4F493;
    background-color: #A4F493;
}

 #addNewContact {
    border-color: #A4F493;
    background-color: #A4F493;
}

#removeWork {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #ffffff
}

.panel .panel-primary {
    background-color: #3f51b5
}

#cancelUserAdd {
    background-color: #c9302c;
}

#saveChanges {
    border-color: #A4F493;
    background-color: #A4F493;
}

#commentAsDropdown {
    border-color: #e5e5e5;
}

#commentTxtArea {
    border-color: #e5e5e5;
}

#commentAsText {
    color: #666666
}

#commentDiv {
    margin-left:2.5%
}

#commentUserDiv {
    margin-left:2.5%
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 0px
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;

  background-color: #eeeeee;
  border-top: solid 1px #989898;
  line-height: 1.5em;
  padding: 2.0em 0 0 45px;
    
}

#linkRectoria {
    color: rgb(102, 102, 102);
  font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  font-size: 10.8000001907349px;
  height: auto;

}

.offsetLogo {
    margin-left: 4%;
    color: rgb(102, 102, 102);
  
  font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  font-size: 10.8000001907349px;
  line-height: 16.2000007629395px;
  width: auto;
}
