@using UDG.Colloquium.BL.ViewModels
@model PagedList.IPagedList<UserNamesViewModel>
@{
    ViewBag.Title = "ManageUsers";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Manage Users</h2>

<p></p>
@Html.Partial("_UsersListPartial",Model)