@using UDG.Colloquium.BL.ViewModels
@model PagedList.IPagedList<UserNamesViewModel>
@{
    ViewBag.Title = "ManageUsers";
}

@section styles
{
    @Styles.Render("~/Content/PageList")
}

<h2>Manage Users</h2>

<form action="@Url.Action("ManageUsers")" method="get" role="search" class="form-inline" id="formUsers" data-colloquium-ajax="true" data-colloquium-target="#usersList">
    <div class="form-group">
        <input type="text" name="userName" class="form-control" placeholder="Search Username">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default"/>
    </div>
</form>

<p></p>
@Html.Partial("_UsersListPartial",Model)

@section scripts
{
    @Scripts.Render("~/bundles/custom/colloquiumList")
}
