@using System.Collections
@helper Modal(string modalTitle,string modalMessage) {
    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">@modalTitle</h4>
                </div>
                <div class="modal-body">
                    <p id="modalMessage">@modalMessage</p>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="confirmModal" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
@helper ModalConfirmation(string submitButtonId,string formId,string valueToConfirmId){    
    <script type="text/javascript">
        (function() {
            $("#@submitButtonId").click(function () {
                var submitTextBox = document.getElementById("@valueToConfirmId").value;
                var modalMessage = document.getElementById("modalMessage");
                modalMessage.innerHTML = modalMessage.innerHTML + submitTextBox + "?";
                $('#roleModal').modal('show');
            });

            $("#closeModal").click(function() {
                var modalMessage = document.getElementById("modalMessage");
                var clearedModalMessage = modalMessage.innerHTML.split(':')[0]+":";
                modalMessage.innerHTML = clearedModalMessage;
            });

            $("#confirmModal").click(function () {
                document.forms["@formId"].submit();
            });

        })();
    </script>
}

@helper ModalConfirmationLink()
{
    <script type="text/javascript">
        function confirmModal(event, linkId) {
            event.preventDefault();
            var modalMessage = document.getElementById("modalMessage");
            modalMessage.innerHTML = modalMessage.innerHTML + linkId + "?";
            $('#roleModal').modal('show');

            $("#closeModal").click(function () {
                var clearedModalMessage = modalMessage.innerHTML.split(':')[0] + ":";
                modalMessage.innerHTML = clearedModalMessage;
            });

            $("#confirmModal").click(function () {
                var linkUrl = document.getElementById(linkId).getAttribute("href");
                window.location.href = linkUrl;
            });
        }
        
    </script>
}
