<div class="container-fluid">
    <div class="row">
        <div class="form-inline">
            <div class="btn-group search-query">
                <usr-mgmt-back action="vm.goBack()"></usr-mgmt-back>
                <usr-mgmt-cancel action="vm.cancel()" visibility="!vm.canSave"></usr-mgmt-cancel>
                <usr-mgmt-save action="vm.save()" visibility="!vm.canSave"></usr-mgmt-save>
                <span ng-show="vm.hasChanges" class="dissolve-animation"><i class="glyphicon glyphicon-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Edit {{vm.colloquium.period || 'New Colloquium'}} </div>
            <div class="panel-body">
                <div>
                    <label>Colloquium Period</label>
                    <select kendo-drop-down-list
                            ng-options="year for year in vm.years"
                            ng-change="vm.updatePeriod()"
                            ng-model="vm.year"></select>
                    <select kendo-drop-down-list
                            ng-options="cycle for cycle in vm.cycles"
                            ng-change="vm.updatePeriod()"
                            ng-model="vm.cycle">
                    </select>
                </div>
                <br/>
                <div>
                    <label>Start Date</label>
                    <input type="text" k-ng-model="vm.colloquium.beginDate"
                           z-validate
                           kendo-date-picker/>
                </div>
                <div>
                    <label>End Date</label>
                    <input type="text" k-ng-model="vm.colloquium.endDate"
                           z-validate
                           kendo-date-picker />
                </div>
            </div>
         </div>
    </div>
</div>
