    <div class="container-fluid">
        <div class="row">
            <div class="form-inline">
                <input class="input-medium search-query" 
                       ng-model="vm.colloquiumsSearch" 
                       ng-keyup="vm.search($event)" 
                       placeholder="Find a colloquium..." />
                <div class="btn-group pull-right">
                    <a class="btn btn-info btn-margin" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i><span>Refresh</span></a>
                    <a class="btn btn-info btn-margin" href="#/colloquiums/new"><i class="glyphicon glyphicon-plus"></i><span>Add Colloquium</span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">{{vm.title}}</div>
                <div class="panel-body">
                    <div ng-repeat="col in vm.filteredColloquiums">
                        <div class="media">
                            <!--<a class="pull-left" href="#">
                                    <img class="media-object" src="..." alt="...">
                                </a>-->
                            <button class="btn btn-info pull-right" ng-click="vm.editColloquium(col)"><i class="glyphicon glyphicon-pencil"></i><span> Edit Colloquium</span></button>
                            <button class="btn btn-info pull-right" ng-click="vm.goToColloquiumStudents(col)"><i class="glyphicon glyphicon-book"></i><span> Consult Students</span></button>
                            <div class="media-body">
                                <h4 class="media-heading">{{col.period}}</h4>
                                <p>{{col.rangeDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>