    
<h2>Colloquium Module</h2>
<div class="container-fluid">
        <div class="row">
            <div class="form-inline">
                <input class="input-medium search-query" 
                       ng-model="vm.colloquiumsSearch" 
                       ng-keyup="vm.search($event)" 
                       placeholder="Find a colloquium..." />
                <div class="btn-group pull-right">
                    <usr-mgmt-refresh action="vm.refresh()"></usr-mgmt-refresh>
                    <usr-mgmt-add link="#/colloquiums/new" title="Add colloquium"></usr-mgmt-add>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">{{vm.title}}</div>
                <div class="panel-body">
                    <div ng-repeat="col in vm.filteredColloquiums">
                        <div class="media">
                            <!--<a class="pull-left" href="#">
                                    <img class="media-object" src="..." alt="...">
                                </a>-->
                            <button class="btn btn-info pull-right" ng-click="vm.editColloquium(col)"><i class="glyphicon glyphicon-pencil"></i><span> Edit Colloquium</span></button>
                            <button class="btn btn-danger pull-right" ng-click="vm.deleteColloquium(col)"><i class="glyphicon glyphicon-remove-sign"></i><span> Delete Role</span></button>
                            <button class="btn btn-info pull-right" ng-click="vm.goToColloquiumSessions(col)"><i class="glyphicon glyphicon-book"></i><span> Consult Sessions</span></button>
                            <div class="media-body">
                                <h4 class="media-heading">{{col.period}}</h4>
                                <p>{{col.rangeDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>