<div class="panel panel-primary">
    <div class="panel-heading">Please click in order to add new work information to the user</div>
    <div class="panel-body">
        <div class="form-group col-md-10">
            <button type="button" class="btn btn-success" ng-click="vm.addWorkToUser()">
                <span class=" glyphicon glyphicon-plus"></span> Add New Work
            </button>
        </div>
    </div>
</div>
<div ng-repeat="workItem in vm.user.works" class="repeat-animation">
    <usr-collapsible title="{{workItem.workPosition!=='' ? workItem.workPosition : vm.adviceWorkMessage}}" title-remove="Remove Work" remove-method="vm.removeWorkToUser(workItem)">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label">Work Position:</label>
                <input type="text" z-validate ng-model="workItem.workPosition"  class="form-control col-md-10" />
            </div>
            <div class="form-group">
                <label  class="col-md-2 control-label">Work Description:</label>
                <textarea ng-model="workItem.workDescription"  z-validate class="form-control col-md-10"></textarea>

            </div>
            <div class="form-group">
                <label  class="col-md-2 control-label">Salary:</label>
                <input type="number" ng-model="workItem.workSalary"  z-validate class="form-control col-md-10" />

            </div>
            <div class="form-group">
                <label  class="col-md-2 control-label">Salary Schema:</label>
                <input type="text" ng-model="workItem.salarySchema" z-validate class="form-control col-md-10" />

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Begin Date:</label>
                <input type="date" ng-model="workItem.workBeginDate"  z-validate kendo-date-picker class="form-control col-md-10" />

            </div>
            <div class="form-group">
                <label  class="col-md-2 control-label">End Date:</label>
                <input type="date" ng-model="workItem.workEndDate"  z-validate kendo-date-picker class="form-control col-md-10" />
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Name:</label>
                <input type="text" ng-model="workItem.company.companyName" z-validate class="form-control col-md-10" />

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Corporate Name:</label>
                <input type="text" ng-model="workItem.company.companyCorporateName" z-validate class="form-control col-md-10" />

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Description:</label>
                <textarea ng-model="workItem.company.companyDescription" z-validate class="form-control col-md-10"></textarea>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Address:</label>
                <input type="text" ng-model="workItem.company.companyAddress" z-validate class="form-control col-md-10" />
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Company Phone Number:</label>
                <input type="tel" ng-model="workItem.company.companyPhoneNumber" z-validate class="form-control col-md-10" />
            </div>
        </div>
    </usr-collapsible>
</div>


